@{
    ViewBag.Title = "Compras App";
}
<!--<div class="container">
    <label style="font-weight: bold;" for="listMarcas">*Para seleccionar varios elementos dentro de un mismo filtro mantenga pulsada la tecla Control (Ctrl).</label>
    <div class="row mt-3">
        <div class="col">
            <div class="form-group">
                <label for="listMarcas">Marcas</label>
                <div class="d-flex flex-column">
                    <select multiple class="form-control mt-1" id="listMarcas" size="25">
                        @foreach (var marca in ViewBag.Marcas as List<SelectListItem>)
                        {
                            <option value="@marca.Value">@marca.Text</option>
                        }
                    </select>
                    <button data-select-id="listMarcas" id="cleanMarca" type="button" class="btn btn-outline-danger btn-sm mt-2">Limpiar Marcas</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="listTiendas">Tiendas</label>
                <div class="d-flex flex-column">
                    <select multiple class="form-control mt-1" id="listTiendas" size="25">
                        @foreach (var tienda in ViewBag.Tiendas as List<SelectListItem>)
                        {
                            <option value="@tienda.Value">@tienda.Text</option>
                        }
                    </select>
                    <button data-select-id="listTiendas" id="cleanTienda" type="button" class="btn btn-outline-danger btn-sm mt-2">Limpiar Tiendas</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="listProveedores">Proveedores</label>
                <div class="d-flex flex-column">
                    <select multiple class="form-control mt-1" id="listProveedores" size="25">
                        @foreach (var proveedor in ViewBag.Proveedores as List<SelectListItem>)
                        {
                            <option value="@proveedor.Value">@proveedor.Text</option>
                        }
                    </select>
                    <button data-select-id="listProveedores" id="cleanProveedor" type="button" class="btn btn-outline-danger btn-sm mt-2">Limpiar Provedores</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="listEnvases">Envases</label>
                <div class="d-flex flex-column">
                    <select multiple class="form-control mt-1" id="listEnvases" size="25">
                        @foreach (var envase in ViewBag.Envases as List<SelectListItem>)
                        {
                            <option value="@envase.Value">@envase.Text</option>
                        }
                    </select>
                    <button data-select-id="listEnvases" id="cleanEnvase" type="button" class="btn btn-outline-danger btn-sm mt-2">Limpiar Envases</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="listRubros">Rubros</label>
                <div class="d-flex flex-column">
                    <select multiple class="form-control mt-1" id="listRubros" size="25">
                        @foreach (var rubro in ViewBag.Rubros as List<SelectListItem>)
                        {
                            <option value="@rubro.Value">@rubro.Text</option>
                        }
                    </select>
                    <button data-select-id="listRubros" id="cleanRubro" type="button" class="btn btn-outline-danger btn-sm mt-2">Limpiar Rubros</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Utiliza col-12 para ocupar el ancho de la pantalla 
<div class="input-group mt-3">
    <input id="fileName" type="text" class="form-control" placeholder="Nombre del archivo" aria-label="Nombre del archivo" aria-describedby="btnProcess" required>
    <button class="btn btn-outline-success" type="button" id="btnProcess">Procesar</button>
</div>
        </div>
    </div>
</div>
<div id="loadingOverlay">
    <div id="loadingSpinner" class="spinner"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/Scripts/Index.js"></script>
-->